Package: com.mrgray.LoadMe
Name: LoadMe
Version: 0.1-1
Description: 
Section: PreferenceBundles
Depends: firmware (>= 5.0), mobilesubstrate, preferenceloader
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Alex Gray
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

